th {
    border: 1px solid black;
    width: auto;
    height: 50 px;
    text-align: center;
    border-collapse: collapse;
    background-color: #d8d812;
}

td{
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
div.content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

div.login{
    background-color: #4682b4;
    text-align: center;
    margin-left: 450pt;
    margin-right: 450pt;
    margin-top: 175pt;
    padding-top: 15px;
    height: 200pt;
}

h3{
    color: #1d2951;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* float: inherit; */
}

div.register{
    background-color: #4682b4;
    text-align: center;
    margin-left: 450pt;
    margin-right: 450pt;
    margin-top: 150pt;
    padding-top: 5px;
    height: 250pt;
}

body{
    background-color: skyblue;
}

div.forgot{
    background-color: #4682b4;
    text-align: center;
    margin-left: 450pt;
    margin-right: 450pt;
    margin-top: 175pt;
    padding-top: 15px;
    height: 200pt;
}

div.reset-form{
    background-color: #4682b4;
    text-align: center;
    margin-left: 450pt;
    margin-right: 450pt;
    margin-top: 175pt;
    padding-top: 15px;
    height: 200pt;
}

/* Tools tip */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.flash {
    width: 20%;
    height: 20%;
    font-size: larger;
    align-self: center;
    text-align: center;
    padding: 1% 1%;
    border-radius: 6px;

    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding: 0 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding: 0% 0;
        visibility:hidden;
    }
}

.success {
    background-color: #1d800e;
    color: #fff;
}

.error {
    background-color: #a92921;
    color: #fff;
}

.form_input {
    height: 10%;
}
