{% extends 'base.html' %}

{% block head %}
{% endblock %}

<!-- {% block dropdown %}
<div class="dropdown">
    <button class="dropbtn">Apps
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="{{ url_for('simpleCalci') }}">Simple Calculator</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>
{% endblock %} -->

{% block body %}
<a href="#"></a>
Web App project by Aniruddh R that maintains ToDo Task details of several users in a db online
{% endblock %}