{% extends 'base.html' %}

{% block head %} 
<title>Forgot Password</title>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/validator.js')}}"></script> -->
{% endblock %}

{% block body %}

<div id="forgot" class="forgot">
    <h3>Forgot Password</h3>
    <form action="/forgot-password", method="POST">
        <!-- UID: -->
        <input type="text" name="uid" id="uid" placeholder="User ID" required><br><br>
        <!-- Name: -->
        <input type="text" name="fname" placeholder="First Name" id="fname"><br><br>
        <input type="text" placeholder="Last Name" name="lname" id="lname"><br><br>
        <input type="submit" id="submit-form" value="Reset Password"><br><br>
        <!-- Have an account? <a href="{{url_for('login')}}">Sign In</a> -->
    </form>
</div>
{% endblock %}