{% block head %} 
<title>Register</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/validator.js') }}"></script>
{% endblock %}

{% block body %}

<div id="reset-form" class="register">
    <h3>Reset Password</h3>
    <form action="/reset-password", method="POST" onsubmit="validPwd()">
        <!-- UID: -->
        <input type="text" name="uid" id="uid" readonly value="{{uId}}" required><br><br>
        <!-- Password: -->
        <input type="password" name="pwd" id="pwd" oninput="return ValidatePwd()" placeholder="Password" required><br>
        <input type="checkbox" onclick="showPwd()">Show Password <br>
        <input type="submit" id="submit-form" value="Reset"><br><br>
        <!-- Have an account? <a href="{{url_for('login')}}">Sign In</a> -->
    </form>
</div>
{% endblock %}