{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="buttons">
    <a href="/logout">Logout</a>
</div>
<div class="content">
    <h1>ToDo Manager</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Created On</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks: %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            {% if task.completed == 1: %}
            <td>Done</td>
            {% else: %}
            <td>Pending</td>
            {% endif %}
            <td>{{ task.deadline.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <a href="/update/{{task.id}}">Update</a>
                <br>
                {% if task.completed == 1: %}
                <a href="/mark-as-pending/{{task.id}}">Mark as pending</a>
                {% else: %}
                <a href="/mark-as-done/{{task.id}}">Mark as done</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <form action="/tasks" , method="POST">
            <tr class="form_input">
                <td style="padding: 2%;">
                    <input type="text" name="task" id="task" , placeholder="Task">
                </td>

                <td></td>
                <td></td>

                <td>
                    <input type="date" name="deadline" id="deadline" , placeholder="Deadline">
                </td>
                <td>
                    <input type="submit" value="Add">
                </td>
            </tr>
        </form>
    </table>
</div>

{% endblock %}